name: Continuous integration

on:
  push:
    branches:
      - development
  pull_request:
    types: [opened, synchronize, reopened, edited]
  workflow_dispatch:
  schedule:
    - cron: "0 0 1 * *"

jobs:
  build:
    runs-on: "ubuntu-latest"
    container: 
      image: node:10.16-jessie
    timeout-minutes: 30
    steps:
      - name: Checkout
        uses: "actions/checkout@v2"

      - name: Copy CI gradle.properties
        run: mkdir -p ~/.gradle ; cp .github/ci-gradle.properties ~/.gradle/gradle.properties

      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - name: Cache between builds
        uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: Build project
        run: ./gradlew :app:assembleDebug
